<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Network</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--
    <script>
        let cookieElement = document.cookie["sessionid"];

    </script>-->




</head>
<body>
<h3>Social Network without politics</h3>
<div>Hello user</div>
<div id="app"> </div>
<script src="/js/main.js"></script>
<script src="https://unpkg.com/vue-cookies@1.8.4/vue-cookies.js"></script>
</body>

</html>